<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Pirce:</strong>
  <%= @product.pirce %>
</p>

<p>
  <strong>Num:</strong>
  <%= @product.num %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
